code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
  /*overflow-y: hidden;*/
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  /*overflow-y: hidden;*/
}

#app,
#app > div {
  height: 100%;
  width: 100%;
}

body > #root > div {
  height: 100vh;
}
