.car-table {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 45vh;
  margin: 0% 0 2% 5%;
  margin-right: 5%;
  background-color: #f2f2f2;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: courier;
  font-size: 20px;
}

@media (min-width: 1000px) {
  .car-table {
    margin: 0% 15% 1% 15%;
    height: 56vh;
  }
}
@media (min-width: 1300px) {
  .car-table {
    margin: 0% 23% 1% 23%;
    height: 56vh;
  }
}

.car-table-headers {
  margin: 2% 5% 0% 5%;
  text-align: center;
  font-family: courier;
  font-size: 20px;
  padding-top: 2%;
}

@media (min-width: 1000px) {
  .car-table-headers {
    margin: 0% 15% 0% 15%;
  }
}
@media (min-width: 1300px) {
  .car-table-headers {
    margin: 0% 24% 0% 24%;
  }
}

.car-table-pagination {
  overflow: hidden;
  text-align: center;
  font-family: courier;
  font-size: 20px;
  width: 100%;
}

.filterWrapper {
  text-align: center;
  width: 100%;
  padding-top: 55px;
  padding-left: 20%;
  padding-right: 20%;
}

@media (min-width: 1000px) {
  .filterWrapper {
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media (max-width: 600px) {
  .filterWrapper {
    padding-left: 1%;
    padding-right: 1%;
  }
}

#search-btn {
  min-width: 225px;
}
#get-all-btn {
  min-width: 225px;
}

.emty-results {
  background-color: #f2f2f2;
}

.dark-car-list {
  background-color: #444444;
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

.dark-select {
  min-width: 80px;
}

.light-select {
  min-width: 80px;
}

.dark-text {
  color: white;
  padding-top: 8px;
}

.light-text {
  color: black;
  padding-top: 8px;
}

#button-wrapper {
  padding-top: 2%;
}

@media (min-width: 1000px) {
  #button-wrapper {
    padding-top: 1%;
  }
}

.col-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.brand-button {
  margin: 3px;
  min-width: 90px;
}

.model-button {
  margin: 3px;
  min-width: 90px;
}

.price-button {
  margin: 3px;
  min-width: 90px;
}

#filter-columns {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 480px) {
  .brand-button {
    min-width: 90px;
    margin: 3px, 3px, 3px, 20%;
  }

  .model-button {
    min-width: 90px;
    margin: 3px;
  }

  .price-button {
    min-width: 90px;
    margin: 3px, 20%, 3px, 3px;
  }
}

select {
  height: calc(1.5em + 0.75rem + 2px);
  width: 100%;
  min-width: 80px;
  text-align: center;
}

.page-link {
  color: red;
}

.card:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.select-test {
  text-align: center;
}
