.model-title {
  text-align: center;
}

.modal {
  max-width: 100%;
}

@media (min-width: 480px) {
  .modal {
    min-width: 100%;
  }
}

.card-body {
  padding: 0px;
}

@media (min-width: 600px) {
  .card-body {
    padding: 1.25rem;
  }
}
